/* CSS reset::YUI 3.7.0 (20120831)
-----------------------------------------------------------------------*/
/*1px=0.0625em,12px=0.75em,11px=0.6875em,9px=0.5625em*/
body, div,
dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, code, p, blockquote
{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    vertical-align: bottom;
}

body
{
    line-height: 1;
    color: #4d4d4d;
    font: 12px/110% Tahoma, Geneva, sans-serif;
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img
{
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var
{
    font-style: normal;
    font-weight: normal;
}

ol, ul
{
    list-style: none;
}

caption, th
{
    text-align: left;
}

h1, h2, h3, h4, h5, h6
{
    font-size: 100%;
    font-weight: normal;
}

blockquote, q
{
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after
    {
        content: '';
        content: none;
    }

abbr, acronym
{
    border: 0;
    font-variant: normal;
}

sup
{
    vertical-align: text-top;
}

sub
{
    vertical-align: text-bottom;
}

input, textarea, select
{
    font-family: inherit;
    *font-size: 100%;
}

a, a:link, a:active
{
    color: #29ABE2;
    text-decoration: none;
    vertical-align: baseline;
}

    a:hover
    {
        color: #666666;
    }

    a:focus
    {
        outline-style: none;
    }
/*ff 消除虛線框*/

/* Basic Layout*/
#container
{
    background: #f2f2f2 url(../Images/sys_bg.gif) repeat-y center 0;
    width: 100%;
    height: 100%;
}

body > #container
{
    height: auto;
    min-height: 100%;
}

#main
{
    background: url(../Images/sys_bg2.gif) repeat-x 0 0;
    margin: auto;
    *margin: 0;
    overflow: hidden;
    z-index: 1;
    padding: 20px 10px 100px 10px;
    width: 960px;
}

#header
{
    background: transparent url(../Images/banner.jpg) no-repeat 0 0;
    text-align: left;
    margin: auto;
    *margin: 0;
    position: relative;
    z-index: 5;
    width: 980px;
    height: 80px;
}

#sidebar
{
    background-color: #EBF5FF;
    float: left;
    width: 180px;
}

#content
{
    float: right;
    width: 760px;
}

/* sidebar*/
#WebMenu
{
    width: 100%;
    list-style-type: none;
    line-height: 120%;
    margin: 0 0 0 0;
    padding: 0px;
}

    #WebMenu a
    {
        display: block;
        font-weight: bold;
        text-decoration: none;
    }

    #WebMenu li
    {
        margin: 0;
        padding: 0;
        list-style-type: none;
        width: 100%;
    }

    #WebMenu div
    {
        margin: 0;
        padding: 3px 0 3px 3px;
        font-weight: normal;
    }

    #WebMenu ul
    {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

        #WebMenu ul li a
        {
            padding: 4px 0px 4px 3px;
            list-style-type: none;
            font-weight: normal;
            margin: 1px 0px 1px 0px;
            text-align: left;
        }

            #WebMenu ul li a:hover
            {
                background: #ffffff;
            }

.ui-jqgrid .ui-jqgrid-title
{
    font-size: 16px;
}
/*修改grid标题的字体大小*/
.ui-jqgrid-sortable
{
    font-size: 14px;
}
/*修改列名的字体大小*/
.ui-jqgrid tr.jqgrow td
{
    font-size: 14px;
    font-family: "微軟正黑體";
}
/*修改表格内容字体*/


/*Message Dialog*/
.dlg
{
    display: none;
    padding: 16px;
    z-index: 254;
}
