/*1px=0.0625em,12px=0.75em,11px=0.6875em,9px=0.5625em*/
#content
{
    width: 100%;
}

    #content form fieldset
    {
        border: #06c dashed 1px;
        margin-bottom: 5px;
    }

    /*表單的主標題*/
    #content .edit-master-caption
    {
        text-align: center;
        font-size: 1.2em;
        padding: 5px 0px 5px 0px;
        font-weight: bold;
        margin-left: 0px;
        margin-bottom: 5px;
    }

    /*表單上部說明區*/
    #content .topNote
    {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
        background-color: #F5FCEE;
        color: #666666;
        font-size: 1em;
    }

    /*表單功能鍵區*/
    #content .navigation-function
    {
        width: 100%;
        padding: 6px 0 3px 0;
        text-align: right;
    }

    /*各段副標題*/
    #content legend
    {
        font-size: 1.1em;
        padding: 5px 5px 5px 5px;
        text-align: center;
    }

    #content form fieldset table
    {
        width: 100%;
        border-collapse: separate;
        border-spacing: 2px;
    }

        #content form fieldset table tr
        {
        }

        #content form fieldset table th
        {
            text-align: right;
            width: 70px;
            font-size: 1em;
        }

        #content form fieldset table td
        {
            text-align: left;
        }
    /*提醒*/
    #content .note
    {
        color: Red;
    }

span.ui-icon
{
    float: right;
    margin: 0 4px;
}


/*下列為List and Search*/
#gridform
{
    width: 100%;
}

    #gridform .gridlist
    {
        width: 100%;
        margin: 3px 0px 0px 0px;
    }
