@{
  Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadCrumb">
	<li><a href="~/index">HOME</a></li>
	<li>聯絡我們</li>
</ul>

<div id="content">

	<h3>聯絡我們</h3>

	<div class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.5839546182024!2d121.25664691552466!3d24.946239347956737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34682274435dc9a9%3A0xf71286e0dd400382!2zMzIw5qGD5ZyS5biC5Lit5aOi5Y2A6I-v576O5LiJ6LevMzMx6Jmf!5e0!3m2!1szh-TW!2stw!4v1610691644464!5m2!1szh-TW!2stw" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	</div>
	<ul>
		<li>地址：320 桃園市中壢區華美三路331號1F</li>
		<li>電話：03-3732858 | 傳真：03-3689973</li>
		<li>信箱：<a href="mailto:trust@tstw.com.tw">trust@tstw.com.tw</a></li>
		<li>統編：54226928</li>
	</ul>

	<div class="align-r"><a class="btn" href="#header">▲TOP</a></div>

</div><!-- content //-->