@model ProcCore.Business.Logic.m_Product[]
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
<ul class="breadCrumb">
    <li><a href="~/index">HOME</a></li>
    <li><a href="~/Products/Products">產品介紹</a></li>
    <li>@ViewBag.MainKindName</li>
</ul>
<div id="content">
    <h3>@ViewBag.MainKindName</h3>
    <ol class="prolist">
        @foreach (var md in Model)
        {

            var p = Html.ImgSrc("Sys_Active", "ProductData", md.id, "ListIcon", 245);

            <li><a href="~/Products/Products_content/@md.id">
                <img src="@p" alt="" /><em>@md.product_name</em></a></li>
        }
    </ol>
    <div class="align-r"><a class="btn" href="#header">▲TOP</a></div>
</div>
<!-- content //-->
