@charset "utf-8";

/*      layout
-----------------------------------------------------------------------*/
#container
{
    /*background: url('../../images/bg2.jpg') no-repeat center 0;*/
    min-width: 980px;
    height: 100%;
    overflow:hidden;
}

body > #container
{
    height: auto;
    min-height: 100%;
}

#header,
#main,
.wrap
{
    text-align: left;
    width: 980px;
    position: relative;
    margin: auto;
    *margin: 0;
    overflow: hidden;
}

#header
{
    height: 185px;
    z-index: 2;
}

#main
{
    background: url('../../images/dot.gif') repeat-y 169px 0;
    padding-bottom: 127px;
    margin-top: 5px;
    z-index: 1;
}

#footer
{
    background: #19757F url('../../images/footerBg.gif') repeat-x 0 0;
    margin-top: -127px;
    clear: both;
    position: relative;
    overflow: hidden;
    z-index: 3;
}

#sidebar
{
    float: left;
    width: 168px;
    margin-top: -17px;
}

#content
{
    float: right;
    width: 795px;
    padding: 0 0 30px 0;
}


/*      header
-----------------------------------------------------------------------*/
/* logo */
h1
{
    background: url('../../images/logo.png') no-repeat 0 0;
    text-indent: -9999px;
    width: 351px;
    height: 78px;
    position: absolute;
    left: -7px;
    top: 13px;
    cursor: pointer;
    cursor: hand;
}

#banner
{
    position:absolute;
    left:50%; top:0;
    margin-left:-512px;
}

/* 主選單 */
#menu-icon
{
    display: none;
}

#menu
{
    position: absolute;
    left: 0;
    top: 102px;
}

    #menu li
    {
        display: inline;
        float: left;
        margin-right: 10px;
    }

    #menu a
    {
        background-attachment: fixed;
        background: url('../../images/menu.gif') no-repeat 8px 5px;
        display: block;
        text-align: center;
        color: #19757F;
        font-size: 1.2em;
        font-weight: bold;
        line-height: 105%;
        width: 140px;
        height: 40px;
        padding-top: 30px;
        *zoom: 1;
        -webkit-transition: background .5s ease;
        -moz-transition: background .5s ease;
        -o-transition: background .5s ease;
        transition: background .5s ease;
    }

    #menu em
    {
        display: block;
        color: #E6E6E6;
        font-size: .7em;
    }

    #menu .nav2 a
    {
        background-position: -140px 5px;
    }

    #menu .nav3 a
    {
        background-position: -287px 5px;
    }

    #menu .nav4 a
    {
        background-position: -442px 5px;
    }

    #menu .nav5 a
    {
        background-position: -596px 5px;
    }

    #menu a:hover
    {
        background-position: 8px -101px;
        color: #30998F;
    }

        #menu a:hover em
        {
            color: #fff;
        }

    #menu .nav2 a:hover,
    .AboutUs #menu .nav2 a
    {
        background-position: -140px -101px;
    }

    #menu .nav3 a:hover,
    .News #menu .nav3 a
    {
        background-position: -287px -101px;
    }

    #menu .nav4 a:hover,
    .Products #menu .nav4 a
    {
        background-position: -442px -101px;
    }

    #menu .nav5 a:hover,
    .ContactUs #menu .nav5 a
    {
        background-position: -596px -101px;
    }


/*      sidebar
-----------------------------------------------------------------------*/
#sidebar h4
{
    color: #fff;
    font-size: 1.6em;
    font-weight: bold;
}

#sidebar dl
{
    font-size: .95em;
    font-weight: bold;
}

#sidebar dt
{
    background: url('../../images/icon2.gif') no-repeat 0 center;
    margin: 3px 0;
}

    #sidebar dt a
    {
        display: block;
        color: #19757F;
        font-size: 1.3em;
        font-weight: bold;
        padding: 6px 0 6px 15px;
    }

        #sidebar dt a:hover,
        #sidebar dt.current a
        {
            background: url('../../images/navBg.gif') repeat-y right 0;
            color: #1C8C83;
        }

#sidebar dd
{
    margin: 2px 0;
}

    #sidebar dd a
    {
        color: #967A4A;
        margin-left: 15px;
    }

        #sidebar dd a:hover,
        #sidebar dd.current a
        {
            color: #BBA830;
        }


/*      footer
-----------------------------------------------------------------------*/
.wrap
{
    background: url('../../images/footerBg2.gif') no-repeat center 92px;
    color: #fff;
    padding: 17px 0 8px 0;
}

h2
{
    background: url('../../images/logo2.gif') no-repeat 0 0;
    float: left;
    text-indent: -9999px;
    width: 250px;
    height: 43px;
    margin-top: 3px;
}
h2 a {
    display:block;
    width:100%; height:100%;
    text-indent:-9999px;
}

.copyright
{
    clear: both;
    color: #A5D9AF;
    font-size: .8em;
    font-family: 'Bookman Old Style', serif;
    text-align: right;
}

.contacts,
.mail
{
    background-attachment: fixed;
    background: url('../../images/footer_icon.gif') no-repeat 0 8px;
    font-size: .85em;
    line-height: 165%;
    min-height: 60px;
    padding: 0 10px 0 90px;
    margin: 0 0 25px 20px;
    float: left;
}

.mail
{
    background-position: 0 -96px;
    padding-left: 52px;
}

#footer a
{
    color: #A5D9AF;
}

    #footer a:hover
    {
        color: #fff;
    }

#footer ul
{
    position: absolute;
    right: 0;
    top: 22px;
}

    #footer ul li
    {
        display: inline;
        float: left;
        margin-left: 10px;
    }

    #footer ul a
    {
        background-attachment: fixed;
        background: url('../../images/icon_club.gif') no-repeat 0 0;
        display: block;
        text-indent: -9999px;
        width: 37px;
        height: 37px;
    }

    #footer ul .club2
    {
        background-position: -45px 0;
    }

    #footer ul .club1:hover
    {
        background-position: 0 -58px;
    }

    #footer ul .club2:hover
    {
        background-position: -45px -59px;
    }
