@charset "utf-8";

/*      CSS reset::YUI 3.6.0 (20130312)
-----------------------------------------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;vertical-align:baseline;vertical-align:bottom\9;}
body{line-height:1;}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%}

a,a:link,a:active,a:visited {
	text-decoration: none;
	vertical-align:baseline; vertical-align:middle\9;
	outline: none; /* ff 消除虛線框*/
	blur:expression(this.onFocus=this.blur()); /* ie消除虛線框 */
	}
a:focus {
	outline: none;
	-moz-outline-style: none; /* ff 消除虛線框 */
	}


/*      basic elements
-----------------------------------------------------------------------*/
body {
	background: #E7F0FA url('../../images/bg.gif') repeat-x 0 0;
	color: #777;
	font: .9em/125% '微軟正黑體', 'Microsoft JhengHei', Georgia, sans-serif;
	}
html,body {
	height:100%;
	text-align:center;
	}
a {
	color:#52A694;
	line-height:120%;
	
	-webkit-transition: color .5s ease;
	-moz-transition: color .5s ease;
	-o-transition: color .5s ease;
	transition: color .5s ease;
	}
a:hover {
	color: #95AE10;
	}
h3,h4,h5 {
	font-weight:bold;
	line-height:120%;
	}
h3 { 
	color:#0068B6;
	font-size:2em;
	margin:10px 0;
	}
h4 {
	background: url('https://www.tstw.com.tw/Content/images/icon4.gif') no-repeat 5px center;
	color:#D54C02;
	font-size:1.45em;
	margin:15px 0 7px 0;
	}
h4 em {
	color:#94CF9C;
	font-size:.8em;
	font-weight:bold;
	}
h5 {
	color:#876E43;
	font-size:1.2em;
	margin:5px 0 0 0;
	}
p {
	line-height:160%;
	margin:8px 0;
	}
strong {
	color:#D22229;
	font-size:1.2em;
	font-weight:bold;
	}
cite {
	color:#E10000;
	font-size:1.2em;
	font-weight:bold;
	line-height:160%;
	display:block;
	margin:20px 0;
	}
hr {
 color:none;
 border:none;
 height:1px;
 background:#FDF3DF
 }

/*      Generic Classes
-----------------------------------------------------------------------*/
.full { width:100% } /* 寬度100% */
.float-l,.float-r { margin:0 0 20px 0; position:relative;}
.float-l { float:left; margin-right:10px; }
.float-r { float:right; margin-left:10px; }
.align-c { text-align:center } /* 水平罝中,文字置中 */
.align-l { text-align:left; } /* 向左對齊 */
.align-r { text-align:right; } /* 向右對齊 */
.valign-t { vertical-align:top; } /* 垂直置頂 */
.valign-m { vertical-align:middle; } /* 垂直置中 */
.valign-b { vertical-align:bottom; } /* 垂直置底 */

.clear { clear:both } /* 清除浮動 */
.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }
.clearfix { display: inline-block; }

.msg { color:#D50000 } /* 提示信息 */

.btn { 
	background: #188E84;
	border:0;
	color:#A5D9AF;
	font-weight:bold;
	font-size:.9em;
	text-align:center;
	
	display:inline-block;
	padding:3px 10px;
	cursor:pointer; cursor:hand;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background .5s ease;
	-moz-transition: background .5s ease;
	-o-transition: background .5s ease;
	transition: background .5s ease;
	}
.btn:hover, .btn:active {
	color:#A5D9AF;
	background: #53A692;
	}

.breadCrumb {
	color:#43938C;
	font-weight:bold;
	position:relative;
	left:15px;
	}
.breadCrumb li {
	float:left; display:inline;
	margin:0 2px;
	}
.breadCrumb a {
	background:url('../../images/icon.gif') no-repeat right 0;
	color:#92CF9E;
	font-size:.9em;
	padding-right:7px;
	}
.breadCrumb a:hover {
	color:#43938C
	}