<div id="footer"><div class="wrap">
	<h2><a href="http://www.dgjiatai.com/" target="new">东莞市嘉泰商贸有限公司DONG GUAN CITY JIA TITE TRADE CO.,LTD</a></h2>
	<p class="contacts">320桃園市中壢區華美三路331號1F<br>電話：03-3732858<br>傳真：03-3689973</p>
	<p class="mail">信箱：<a href="mailto:trust@tstw.com.tw">trust@tstw.com.tw</a><br>統編：54226928</p>
	<ul>
		<li><a class="club1" href="#">Facebook</a></li>
		<li><a class="club2" href="#">Twitter</a></li>
	</ul>
	<div class="copyright">Tai Shin Tw Inc. &copy; 2013 Privacy policy</div>
</div></div><!-- footer //-->